.Login {
    width: 600px;
    min-height: 400px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    margin-top: 154px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 154px;
  }
  
  .LoginHeader {
    color: rgb(11, 11, 89);
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .LoginForm {
    display: flex;
    flex-direction: column;
  }
  
  .loginInput {
    border-radius: 50px;
    background-color: #edeef0;
    border: none;
    outline: none;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .loginBtn {
    border-radius: 50px;
    background-color: #d99732;
    border: none;
    color: white;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
 
  .logo{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    margin-left: 230px;
    margin-bottom: 0;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer .loginBtn {
  width: 48%;
}